@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow-x: hidden;
      font-family: 'Roboto Mono';
    }

    ::-webkit-scrollbar {
      display: none;
    }
    
    .popup-container {
      opacity: 0;
      transform: scale(0.8);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    
    .popup-container.active {
      opacity: 1;
      transform: scale(1);
    }
  }